<header class="header-area clearfix">
    <div class="header-left-area pull-left">
        <img src="assets/images/logo.png" />
        <div class="profile-image pull-left">
            <!-- <img src="images/profile-photo.png" alt="" /> -->
        </div>
        <div class="profile-text pull-left">
            <!-- <i class="fa fa-play-circle"></i>
            <strong> Simple Video Library</strong> -->
            <!--<h4>Peter Johnes</h4>-->
            <!--<p>139 videos</p>-->
        </div>
    </div>
    <div class="header-right-area pull-right">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <input #searchRef class="form-control" placeholder="Search videos..." type="text" name="search" value="{{search}}">
            <div class="input-group-append buttons">
                <div class="input-group-text">
                    <ul>
                        <li><a href="#" [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#" [routerLink]="['/settings']"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-film" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="header-main-width">
            <div class="header-search-area pull-left">
                <form action="" method="post">
                    <input #searchRef placeholder="Search videos..." type="text" name="search" value="{{search}}">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="header-menu-area pull-right">
                <ul>
                    <li><a href="#" [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="#" [routerLink]="['/settings']"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-film" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
</header>
