<app-filter></app-filter>

<div class="videos-quantity">
    Total videos: {{videos.length}}
</div>

<div class="main-video-area margin-top clearfix">
    <div class="video-box animated fadeInUp col-md-3" *ngFor="let video of videos" [ngClass]="{'selected': video.selected}" (dblclick)="onDblClickVideo(video)">
        <div class="video-cover" [ngStyle]="{'background': video.background }" (click)="onSelectVideo($event, video, i)"></div>
        <div class="video-info">
            <div class="video-name">{{video.name}}</div>
            <bar-rating [(rate)]="video.rating" [max]="5" [theme]="'fontawesome'" (rateChange)="onRateVideo(video)"></bar-rating>
        </div>
    </div>
</div>
