<app-filter></app-filter>

<div class="videos-quantity">
    Total videos: {{videos.length}}
</div>

<div class="main-video-area margin-top clearfix">
    <div class="row">
        <div class="col-md-3" *ngFor="let video of videos">

            <div class="video-box animated fadeInUp" [ngClass]="{'selected': video.selected, 'new': video.new}"
                (dblclick)="onDblClickVideo(video)" (click)="onClickVideo($event, video, i)"
                (contextmenu)="onContextMenu($event, video)" [contextMenu]="basicMenu" [contextMenuSubject]="video">
                <div class="video-cover" [ngStyle]="{'background': video.background }"></div>
                <div class="video-info">
                    <div class="video-name">{{video.name}}</div>
                    <bar-rating [(rate)]="video.rating" [max]="5" [theme]="'fontawesome'" (rateChange)="onRateVideo(video)"></bar-rating>
                </div>
            </div>

        </div>
    </div>
</div>

<context-menu>
    <ng-template contextMenuItem (execute)="showInFolder($event.item)">Show in Folder</ng-template>
</context-menu>