<app-header></app-header>
<section class="main-area clearfix">
    <div class="left-main-area pull-left">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-main-area pull-left">
        <router-outlet></router-outlet>
    </div>
</section>

<div class="modal fade" id="modal-loading">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title">Searching files...</h5>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="loading-info margin-top"></div>
            </div>
        </div>
    </div>
</div>
