<app-header></app-header>
<section class="main-area clearfix">
    <div class="left-main-area pull-left">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-main-area pull-left">
        <router-outlet></router-outlet>
    </div>
</section>

<div class="modal fade" id="modal-loading">
    <div class="modal-dialog">
        <div class="modal-content text-center">
        <div class="icon-loading">
            <span class="icon-loading-icon"></span>
        </div>
        <div class="loading-info"></div>
        </div>
    </div>
</div>