<div class="video-upload-button clearfix">
  <button (click)="onRefreshLibrary()"><i class="fa fa-refresh" aria-hidden="true"></i>Sync Libraries</button>
</div>
<div class="libraries-links clearfix">
  <h3>Libraries</h3>
  <ul>
    <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i> Playlists</a></li>
    <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Videos</a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Favourites</a></li>
    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> WatchLater</a></li>
  </ul>
</div>
<div class="collections-links clearfix">
  <h3>collections</h3>
  <ul>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Summer 2k18</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Friends</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Parties</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Summer 2k17</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Car</a></li>
  </ul>
</div>