<div class="video-upload-button animated fadeInDown clearfix">
    <button (click)="onRefreshLibrary()"><i class="fa fa-refresh" aria-hidden="true"></i>Sync Libraries</button>
</div>
<div class="menu animated fadeInLeft clearfix">
    <h3>Libraries</h3>
    <ul *ngFor="let library of libraries">
        <li>
            <a href="#" routerLink="/videos/library/{{library.id}}" routerLinkActive="active">
                <i class="fa fa-list" aria-hidden="true"></i> {{library.name}}
            </a>
        </li>
    </ul>
</div>

<!--
<div class="collections-links clearfix">
  <h3>collections</h3>
  <ul>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Summer 2k18</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Friends</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Parties</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Summer 2k17</a></li>
    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i> Car</a></li>
  </ul>
</div>
-->

<app-video-edition *ngIf="videoEdition" [video]="videoEdition"></app-video-edition>
