$primary: #f04f58
$secondary: #9b9b9b
$color-blue-light-1: #2B3646
$color-blue-light-2: #1D2734
$enable-rounded: true
$enable-shadows: false
$radius: 10px
$margin: 20px
$input-border-radius: 0
$font-size-base: 0.8rem !default
$font-family: 'Hind', sans-serif

@import '~bootstrap/scss/bootstrap'
@import '~ngx-bar-rating/themes/br-fontawesome-theme'
@import 'assets/sass/layout'
@import 'assets/sass/tag-input'
@import 'assets/sass/videos'
@import 'assets/sass/settings'