.header-area
  background: $primary
  display: flex
  position: fixed
  top: 0
  width: 100%
  z-index: 999

.header-left-area
  background: rgba(0,0,0,0.2)
  color: #fff
  padding: $margin

.header-right-area
  input, input:focus
    color: white
    border-bottom: none
    &::placeholder
      color: white
  .input-group-text
    background: transparent
    border: none
  ul li
    display: inline
    a
      color: white
      margin-left: $margin
