.menu
  margin: 0 (-$margin)
  margin-top: 50px

  h3
    color: #b6b6b6
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 10px
    font-size: inherit

  & > li.active > a
    border-left: 3px solid $primary
    background: darken(#19212D, 2)
    color: white

  li
    a
      color: $secondary
      display: block
      width: 100%
      padding: 10px $margin
    .active a, a:hover, &.menu-open > a
        color: white

    i
      margin-right: 10px

  .menu-open .pull-right-container i
      -webkit-transform: rotate(-90deg)
      -ms-transform: rotate(-90deg)
      -o-transform: rotate(-90deg)
      transform: rotate(-90deg)
      
  .active .treeview-menu
      display: block

  .treeview-menu
    background: lighten(#19212D, 2)
    display: none