tag-input
  border-bottom: 1px solid $secondary

  .ng2-tag-input
    padding: 0 !important
    min-height: unset !important

    .ng2-tag-input__text-input
      padding: 0.375rem 0.75rem !important
      height: auto !important

    tag
      background: transparent !important
      padding: 0 !important
      margin-left: 0.75rem !important
      letter-spacing: inherit !important
      &:hover
        box-shadow: none !important
      .tag__text
        font-size: $font-size-base
        font-family: $font-family
